<div class="portfolio">
    <div class="container">
        <div class="portfolio-inner">
            <div class="block">
                <div class="block-title">Portfolio</div>
                <div class="block__portfolio">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="block__contemt"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>