<div class="services">
    <div class="container">
        <div class="services-inner">
            <div class="block">
                <div class="block-title">Services</div>
                <div class="block__section">
                    <div class="services-item services-research">User Research</div>
                    <div class="services-item services-wireframes">IA And Wireframes</div>
                    <div class="services-item services-testing">User Testing</div>
                    <div class="services-item services-design">Looks and Feel Design (UI)</div>
                    <div class="services-item services-delivery">Delivery</div>
                    <div class="services-item services-support">Integration Support</div>
                </div>
            </div>
        </div>
    </div>
</div>