<div class="testimonials">
    <div class="container">
        <div class="services-inner">
            <div class="block">
                <div class="block-title">Testimonials</div>
                <div class="block__section">
                    <div class="owl-carousel testimonials__owl owl-theme">
                        <div class="testimonials__owl-item">
                            <img src="../img/photo.png" alt="photo" class="_photo">
                            <div class="testimonials__owl-desc">
                                <div class="_name">Limara tusi </div>
                                <div class="_prof">ceo, random company</div>
                                <div class="_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</div>
                            </div>
                        </div>
                        <div class="testimonials__owl-item">
                            <img src="../img/photo.png" alt="photo" class="_photo">
                            <div class="testimonials__owl-desc">
                                <div class="_name">Limara tusi </div>
                                <div class="_prof">ceo, random company</div>
                                <div class="_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</div>
                            </div>
                        </div>
                        <div class="testimonials__owl-item">
                            <img src="../img/photo.png" alt="photo" class="_photo">
                            <div class="testimonials__owl-desc">
                                <div class="_name">Limara tusi </div>
                                <div class="_prof">ceo, random company</div>
                                <div class="_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>