.services {
  background-color: $с-light_grey;

  .block__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    font-family: 'Asap';
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 85px;

   @include desktop {
     &:nth-last-child(-n+3) {
       margin-bottom: 0;
     }
   }

      @include tadlet {
        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
      }

      @include mobile {
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
      }


    @include tadlet {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include mobile {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:before {
      content: '';
      display: block;
      margin: 0 auto 14px;
    }
  }

  &-research:before {
    @include sprite($s-user_research);
  }

  &-wireframes:before {
    @include sprite($s-wireframes);
  }

  &-testing:before {
    @include sprite($s-testing);
  }

  &-design:before {
    @include sprite($s-design);
  }

  &-delivery:before {
    @include sprite($s-delivery);
  }

  &-support:before {
    @include sprite($s-support);
  }
}