.testimonials {
  &__owl {
    width: 955px;
    border: 1px solid $c-dark;
    padding: 82px 75px 39px 121px;
    margin: 0 auto;

    @include tadlet {
      width: auto;
      padding: 40px 20px 20px;
    }

    @include mobile {
      width: auto;
      padding: 5px;
    }

    &-item {
      display: flex;
      width: 759px;

      @include tadlet {
        width: auto;
      }

      @include mobile {
        width: auto;
        display: block;
      }
    }

    ._photo {
      height: 159px;
      width: 159px !important;
    }

    &-desc {
      margin-left: 30px;
      margin-bottom: 56px;

      @include mobile {
        margin-left: 0;
        margin-bottom: 20px;
      }

      ._name {
        color: $c-dark;
        font-family: 'Asap';
        font-weight: 500;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      ._prof {
        color: $c-dark;
        font-family: 'Asap';
        font-style: italic;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 20px;
      }

      ._text {
        color: $c-gray;
        font-family: 'Asap';
        font-size: 16px;
        line-height: 26px;
      }
    }

    .owl-dots {
      text-align: center;

      .owl-dot {
        width: 13px;
        height: 13px;
        border: 1px solid $c-dark;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }

      .owl-dot.active {
        background-color: $c-dark;
      }
    }
  }
}