    $s-delivery: 570px 365px -570px -365px 57px 81px 660px 641px 'sprite.png';
    $s-design : 570px 0px -570px 0px 90px 75px 660px 641px 'sprite.png';
    $s-face: 0px 0px 0px 0px 570px 641px 660px 641px 'sprite.png';
    $s-icon-logo: 627px 365px -627px -365px 24px 24px 660px 641px 'sprite.png';
    $s-support: 570px 152px -570px -152px 76px 76px 660px 641px 'sprite.png';
    $s-testing: 570px 228px -570px -228px 67px 75px 660px 641px 'sprite.png';
    $s-user_research: 570px 75px -570px -75px 77px 77px 660px 641px 'sprite.png';
    $s-wireframes: 570px 303px -570px -303px 76px 62px 660px 641px 'sprite.png';
