.btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 16px 47px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-family: 'Asap';
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.06em;
  transition-duration: 0.2s;

  &-primary {
    background-color: #fff;
    box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }

  &-secondary {
    border: 1px solid $c-gray;
    
    &:hover {
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
    }
  }
}
