{{> layouts/head}}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <a href="index.html" class="logo">
                    <span class="_name">OENRIQUE</span>
                    <span class="_ux">UX/UI EXPERT</span>
                </a>
                <ul class="header__menu">
                    <li class="header__menu-item active"><a href="index.html" class="header__menu-link">Home</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">About</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Service</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Portfolio</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Contact</a></li>
                </ul>
                <div class="header__hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__main-inner">
                <div class="_left">
                    <h1>Luis Oenrique</h1>
                    <div class="_comment">User Experience / User Interface Expert</div>
                    <button class="btn btn-primary">KNOW MORE</button>
                    <button class="btn btn-secondary">HIRE ME</button>
                </div>
                <div class="_hero"></div>
            </div>
        </div>
    </div>
</header>
