.menu__bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}

.header {
  flex-shrink: 0;
  background-image: url(../img/bgheader.png);

  &__top-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-start;
      color: #000;

      ._name {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 1;
        margin-top: 10px;
      }

      ._ux {
        font-family: 'Lato';
        font-size: 4px;
        letter-spacing: 0.34em;
        line-height: 1;
        margin-top: 7px;
      }

      &:before {
        content: '';
        display: block;
        @include sprite($s-icon-logo);
      }
    }
  }

  @include mobile {
    &__menu.open {
      right: 0;

    }
  }

  &__menu {
    display: flex;
    align-items: flex-start;
    transition-duration: 0.5s;

    @include mobile {
      flex-direction: column;
      position: absolute;
      height: 100vh;
      width: 240px;
      top: 0;
      right: -240px;
      z-index: 100;
      background-color: #ffffff;
      padding: 10px 0 0 40px;
    }

    &-item {
      font-family: 'Asap';
      font-size: 16px;
      text-transform: uppercase;
      margin-right: 35px;
      transition-duration: 0.2s;

      @include mobile {
        margin-right: 0;
      }

      &:hover {
        border-bottom: 1px solid #4d4d4d;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .active {
      text-transform: none;
      border-bottom: 1px solid #4d4d4d;
    }
  }

  &__hamburger {
    display: none;

    @include mobile {
      display: block;
      cursor: pointer;
    }

    span {
      background-color: $c-gray;
      height: 4px;
      width: 25px;
      display: block;
      margin-bottom: 4px;
      border-radius: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__main-inner {
    display: flex;
    justify-content: space-between;
    padding: 13px 0 7px;

    ._left {
      padding-top: 160px;

      @include tadletAndMobile {
        padding-top: 0;
      }

      h1 {
        font-family: 'Asap';
        font-weight: 500;
        font-size: 90px;
        letter-spacing: 0;
        line-height: 1;
        margin-bottom: 10px;

        @include mobile {
          font-size: 50px;
        }
      }

      ._comment {
        font-family: 'Asap';
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 1;
        color: #999999;
        margin-bottom: 28px;
      }

      .btn {
        margin-right: 19px;

        &:last-child {
          margin-right: 0;
        }

        @include mobile {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    ._hero {
      @include sprite($s-face);

      @include tadletAndMobile {
        display: none;
      }
    }
  }
}