@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
  url('../fonts/lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/Asap-Medium.woff2') format('woff2'),
  url('../fonts/asap/Asap-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/Asap-Bold.woff2') format('woff2'),
  url('../fonts/asap/Asap-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/Asap-Regular.woff2') format('woff2'),
  url('../fonts/asap/Asap-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/Asap-Italic.woff2') format('woff2'),
  url('../fonts/asap/Asap-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.woff2') format('woff2'),
  url('../fonts/lato/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

