@mixin desktop () {
  @media (min-width: $desktopMedia) {
    @content;
  }
}

@mixin tadletAndMobile () {
  @media (max-width: $desktopMedia - 1) {
    @content;
  }
}

@mixin tadlet () {
  @media (max-width: $desktopMedia - 1) and (min-width: $tabletMedia){
    @content;
  }
}

@mixin mobile () {
  @media (max-width: $tabletMedia - 1) {
    @content;
  }
}