*,
*:after,
*:before {
  outline: none !important;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

p {
  margin: 0;
}

input,
button {
  background-color: transparent;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: $c-gray;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.block {
  padding: 119px 0 110px;

  @include mobile {
    padding: 24px 0 50px;
  }

  .block__section {
    padding-top: 68px;
  }

  &-title {
    text-align: center;
    font-family: 'Asap';
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 0.12em;
    line-height: 1;
    color: #6f6f6f;
    text-transform: uppercase;

    @include mobile {
      font-size: 30px;
    }

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 4px;
      background-color: #6f6f6f;
      margin: 0 auto 15px;
    }
  }
}